<div class="jumbotron">

  <h1>Welcome to Guild!</h1>
  <p>Guild is the essential social network for artists.</p>
  <p><a class="btn btn-primary btn-lg btn-main" href="#">Sign up</a></p>

</div>

<%= link_to 'To Posts', posts_path %>
