.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand {
  color: #fff;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-brand:hover {
  color: #fff;
}

body {
  margin-top: 100px;
  text-align: center;
}

.navbar-brand {

  font-weight: bold;
  font-size: 20px;
}

.jumbotron {
  color: #fff;
  text-align: center;
  margin-right: 20px;
  margin-left: 20px;
  height: 400px;
  background-image: url('testImage3.png');
  background-size: cover;
}

.btn-main {
  background-color: #FAAC2D;
  border: none;

}
.btn-main:hover {
  background-color: #FAAC2D;
  border: none;

}
